<%- include("header")-%>

<h2>About</h2>
<p>cjnsxvm,  vxdsln dav nearkvlnc zv,  dznvn sdz.lmz n lvnv zxnjOLlsdc c jdlfn  dviovn dvkjkeafpsln ,mzcnsdj claj jvslosejfbnszpsa[mfc]</p>
<%- include("footer")-%>
